<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Amortization Schedule Calculator", root_path, class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><%= link_to "View all loans", loans_path, class: 'btn btn-info' %></li>
  </div>
</nav>
