<table class="table table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th>Loan Amount</th>
      <th>Term</th>
      <th>Interest rate</th>
      <th>Requested date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @loan.loan_amount %></td>
      <td><%= @loan.term %></td>
      <td><%= @loan.interest_rate %></td>
      <td><%= @loan.request_date %></td>
    </tr>
  </tbody>
</table>