.login_div {
    position: absolute;

    width: 600px;
    height: 600px;

    top: 40%;
    left: 43%;
    margin-top: -150px;
    margin-left: -150px;
}

.login_form {
    width: 500px;
    height: 500px;

    border-radius: 2x;

    margin: 0;
    padding: 0;
}

h2{
   text-align: center;
}