.new-loan-div {
    position: absolute;

    width: 600px;
    height: 600px;

    top: 40%;
    left: 43%;
    margin-top: -150px;
    margin-left: -150px;
}

.new-loan-form {
    width: 500px;
    height: 500px;

    border-radius: 2x;

    margin: 0;
    padding: 0;
}

h2{
   text-align: center;
}

.loans-table {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid grey;
}

